__pycache__
.cache
tags
client.py
test_client.py
.pyc
.konchrc
.tox
*.egg-info
.eggs
build/
dist/
.python-version
.coverage
send_requests.py
.env
bin/
lib/
lib64/
__pycache__/
include/
local/
pip.log
man/
pip-selfcheck.json
*.pyc
