[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fnapy = {editable = true,path = "."}
setuptools = "*"

[dev-packages]
tox = "*"
pytest = "*"
alabaster = "*"
twine = "*"
pytz = "*"
konch = "*"
fntools = "*"
python-dateutil = "*"
ipython = "*"
pdbpp = "*"
mock = "*"

[requires]
python_version = "3.7"
